<include file="Public/header" />
    <div class="subpageBody">
        <div class="inc">
            <h1 class="pageName">业务咨询</h1>
            <aside class="pageAside contact">
                <hr class="pageHr">
                <form id="form1" name="form1" action="{:U('home/do/contact')}" method="post">
                <article class="form">
                    <h3>留下您的姓名和联系方式，我们会在24小时内和您联系。</h3>
                    <div class="formParam">
                        <h2>联系人</h2>
                        <p>
                            <input id="name" name="name" type="text"  class="userInput" placeholder="请填写姓名" />
                        </p>
                    </div>
                    <div class="formParam">
                        <h2>联系方式</h2>
                        <p>
                            <input id="telemail" name="telemail" type="text" placeholder='请输入手机号或邮箱'  class="userInput" />
                        </p>
                    </div>
                    <div class="formParam contactDetail">
                        <h2>咨询内容</h2>
                        <p>
                            <textarea id="content" name="content" placeholder='咨询内容'></textarea>
                        </p>
                    </div>
                    <div class="formParam">
                        <button id="sub" type="button" class="loginBtn">提 交</button>
                    </div>

                </article>
                </form>
            </aside>

        </div>
    </div>

<include file="Public/footer" />
<script>
$('#sub').click(function(){
    if($('#name').val() == ''){
        alert('请填写联系人');
        return false;
    }
    if($('#telemail').val() == ''){
        alert('请填写联系方式');
        return false;
    }
    if($('#content').val() == ''){
        alert('请填写内容');
        return false;
    }
    $('#form1').submit();
});
</script>
