<include file="Public/header" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/download.css">
  <section class='download'>
    <div class='inc'>
      <h1>下载中心</h1>
			<h3>全景声SDK</h3>
        <ul>
          <li class='android'>
            <div>
              <h2>
                <span></span>
                <strong>v&nbsp;1.4</strong>
              </h2>
              <dl>
                <dt>Android</dt>
                <dd>
                  <span></span>支持多种音频输入格式的双耳化虚拟环绕声处理（包括对象声源，B格式，立体声和5.1声道等）
                </dd>
                <dd>
  								<span></span>支持头部旋转
                </dd>
                <dd>
                  <span></span>支持房屋模型混响
                </dd>
  							<dd>
                  <span></span>支持通过耳机或扬声器播放双耳化虚拟环绕声
                </dd>
              </dl>
              <blockquote>
                <p class='downloadapp'>
                  <a href="{:U('home/user/download')}?type=Android">下载<span></span></a>
                </p>
                <p>
                  <strong>更新时间：2016-9-29</strong>
                </p>
              </blockquote>
            </div>
            <p class='shadow'></p>
          </li>
          <li class='ios'>
            <div>
              <h2>
                <span></span>
                <strong>v&nbsp;1.4</strong>
              </h2>
              <dl>
                <dt>ios</dt>
  							<dd>
                  <span></span>支持多种音频输入格式的双耳化虚拟环绕声处理（包括对象声源，B格式，立体声和5.1声道等）
                </dd>
                <dd>
  								<span></span>支持头部旋转
                </dd>
                <dd>
                  <span></span>支持房屋模型混响
                </dd>
  							<dd>
                  <span></span>支持通过耳机或扬声器播放双耳化虚拟环绕声
                </dd>
              </dl>
              <blockquote>
                <p class='downloadapp'>
                  <a href="{:U('home/user/download')}?type=ios">下载<span></span></a>
                </p>
                <p>
                  <strong>更新时间：2016-9-29</strong>
                </p>
              </blockquote>
            </div>
            <p class='shadow'></p>
          </li>
          <li class='windows'>
            <div>
              <h2>
                <span></span>
                <strong>v&nbsp;1.4</strong>
              </h2>
              <dl>
                <dt>Windows</dt>
  							<dd>
                  <span></span>支持多种音频输入格式的双耳化虚拟环绕声处理（包括对象声源，B格式，立体声和5.1声道等）
                </dd>
                <dd>
  								<span></span>支持头部旋转
                </dd>
                <dd>
                  <span></span>支持房屋模型混响
                </dd>
  							<dd>
                  <span></span>支持通过耳机或扬声器播放双耳化虚拟环绕声
                </dd>
              </dl>
              <blockquote>
                <p class='downloadapp'>
                  <a href="{:U('home/user/download')}?type=Windows">下载<span></span></a>
                </p>
                <p>
                  <strong>更新时间：2016-9-29</strong>
                </p>
              </blockquote>
            </div>
            <p class='shadow'></p>
          </li>
          <li class='unity'>
            <div>
              <h2>
                <span></span>
                <strong>v&nbsp;1.4</strong>
              </h2>
              <dl>
                <dt>Unity</dt>
  							<dd>
                  <span></span>支持多种音频输入格式的双耳化虚拟环绕声处理（包括对象声源，B格式，立体声和5.1声道等）
                </dd>
                <dd>
  								<span></span>支持头部旋转
                </dd>
                <dd>
                  <span></span>支持房屋模型混响
                </dd>
  							<dd>
                  <span></span>支持通过耳机或扬声器播放双耳化虚拟环绕声
                </dd>
              </dl>
              <blockquote>
                <p class='downloadapp'>
                  <a href="{:U('home/user/download')}?type=Unity">下载<span></span></a>
                </p>
                <p>
                  <strong>更新时间：2016-9-29</strong>
                </p>
              </blockquote>
            </div>
            <p class='shadow'></p>
          </li>
        </ul>
  			<h3 id="vr-app" class='second'>拓灵VR全景视频 App</h3>
  			<ul class='second'>
  				<li class='android'>
  					<div>
  						<h2>
  							<span></span>
  							<strong>v&nbsp;1.2</strong>
  						</h2>
  						<dl>
  							<dt>Android</dt>
  							<dd>
  								<span></span>支持全景视频播放
  							</dd>
  							<dd>
  								<span></span>支持全景声播放
  							</dd>
  						</dl>
  						<blockquote>
  							<p class='downloadapp'>
  								<a href="http://www.twirlingvr.com/App_Web/site/download.html?fi=3">下载<span></span></a>
  							</p>
  							<p>
  								<strong>更新时间：2016-5-21</strong>
  							</p>
  						</blockquote>
  					</div>
  					<p class='shadow'></p>
  				</li>
  				<li class='ios'>
  					<div>
  						<h2>
  							<span></span>
  							<strong>v&nbsp;1.2</strong>
  						</h2>
  						<dl>
  							<dt>ios</dt>
  							<dd>
  								<span></span>支持全景视频播放
  							</dd>
  							<dd>
  								<span></span>支持全景声播放
  							</dd>
  						</dl>
  						<blockquote>
  							<p class='downloadapp'>
  								<a href="https://appsto.re/cn/DE6oab.i">下载<span></span></a>
  							</p>
  							<p>
  								<strong>更新时间：2016-5-21</strong>
  							</p>
  						</blockquote>
  					</div>
  					<p class='shadow'></p>
  				</li>
  			</ul>
<!--       <a id="#twirling"></a> -->
      <h3 class='second'>Twirling720（声场录制机配套软件）</h3>
      <a name="twirling" id="#twirling"></a>
        <ul class='second'>
          <li class='windows'>
            <div>
              <h2>
                <span></span>
                <strong>v&nbsp;1.0</strong>
              </h2>
              <dl>
                <dt>Windows</dt>
                <dd>
                  <span></span>添加音频预览功能：
                </dd>
                <dd>
                  &nbsp;&nbsp;&nbsp;&nbsp;<span></span>支持界面可视化角度调整，播放器   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支持
                </dd>
                <dd>
                  &nbsp;&nbsp;&nbsp;&nbsp;<span></span>音频播放器
                </dd>
                <dd>
                  &nbsp;&nbsp;&nbsp;&nbsp;<span></span>Twirling Audio SDK全景声实时  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;处理
                </dd>
                <dd>
                  <span></span>支持将Twirling720录制的文件转换至多种格式(B Format SN3D,B Format Fuma,Quad Binaural,5.1,Stereo)
                </dd>
              </dl>
              <blockquote>
                <p class='downloadapp'>
                  <a href="{:U('home/user/download')}?type=twirling">下载<span></span></a>
                </p>
                <p>
                  <strong>更新时间：2016-9-30</strong>
                </p>
              </blockquote>
            </div>
            <p class='shadow'></p>
          </li>
        </ul>
     <!--  </a> -->
		</div>
  </section>
<include file="Public/footer" />
