<include file="Public/header" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/download.css">
  <section class='download'>
    <div class='inc'>
      <h1>下载中心</h1>
			<h3>全景声SDK</h3>
      <ul>
        <li class='android'>
          <div>
            <h2>
              <span></span>
              <strong>v&nbsp;1.2</strong>
            </h2>
            <dl>
              <dt>Android</dt>
              <dd>
                <span></span>支持多种音频输入格式的双耳化虚拟环绕声处理（包括对象声源，B格式，立体声和5.1声道等）
              </dd>
              <dd>
								<span></span>支持头部旋转
              </dd>
              <dd>
                <span></span>支持房屋模型混响
              </dd>
							<dd>
                <span></span>支持通过耳机或扬声器播放双耳化虚拟环绕声
              </dd>
            </dl>
            <blockquote>
              <p class='downloadapp'>
                <a href="{:U('home/user/download')}?type=Android">下载<span></span></a>
              </p>
              <p>
                <strong>更新时间：2016-5-21</strong>
              </p>
            </blockquote>
          </div>
          <p class='shadow'></p>
        </li>
        <li class='ios'>
          <div>
            <h2>
              <span></span>
              <strong>v&nbsp;1.2</strong>
            </h2>
            <dl>
              <dt>ios</dt>
							<dd>
                <span></span>支持多种音频输入格式的双耳化虚拟环绕声处理（包括对象声源，B格式，立体声和5.1声道等）
              </dd>
              <dd>
								<span></span>支持头部旋转
              </dd>
              <dd>
                <span></span>支持房屋模型混响
              </dd>
							<dd>
                <span></span>支持通过耳机或扬声器播放双耳化虚拟环绕声
              </dd>
            </dl>
            <blockquote>
              <p class='downloadapp'>
                <a href="{:U('home/user/download')}?type=ios">下载<span></span></a>
              </p>
              <p>
                <strong>更新时间：2016-5-21</strong>
              </p>
            </blockquote>
          </div>
          <p class='shadow'></p>
        </li>
        <li class='windows'>
          <div>
            <h2>
              <span></span>
              <strong>v&nbsp;1.2</strong>
            </h2>
            <dl>
              <dt>Windows</dt>
							<dd>
                <span></span>支持多种音频输入格式的双耳化虚拟环绕声处理（包括对象声源，B格式，立体声和5.1声道等）
              </dd>
              <dd>
								<span></span>支持头部旋转
              </dd>
              <dd>
                <span></span>支持房屋模型混响
              </dd>
							<dd>
                <span></span>支持通过耳机或扬声器播放双耳化虚拟环绕声
              </dd>
            </dl>
            <blockquote>
              <p class='downloadapp'>
                <a href="{:U('home/user/download')}?type=Windows">下载<span></span></a>
              </p>
              <p>
                <strong>更新时间：2016-5-21</strong>
              </p>
            </blockquote>
          </div>
          <p class='shadow'></p>
        </li>
        <li class='unity'>
          <div>
            <h2>
              <span></span>
              <strong>v&nbsp;1.2</strong>
            </h2>
            <dl>
              <dt>Unity</dt>
							<dd>
                <span></span>支持多种音频输入格式的双耳化虚拟环绕声处理（包括对象声源，B格式，立体声和5.1声道等）
              </dd>
              <dd>
								<span></span>支持头部旋转
              </dd>
              <dd>
                <span></span>支持房屋模型混响
              </dd>
							<dd>
                <span></span>支持通过耳机或扬声器播放双耳化虚拟环绕声
              </dd>
            </dl>
            <blockquote>
              <p class='downloadapp'>
                <a href="{:U('home/user/download')}?type=Unity">下载<span></span></a>
              </p>
              <p>
                <strong>更新时间：2016-5-21</strong>
              </p>
            </blockquote>
          </div>
          <p class='shadow'></p>
        </li>
      </ul>
			<h3 class='second'>拓灵VR全景视频 App</h3>
			<ul class='second'>
				<li class='android'>
					<div>
						<h2>
							<span></span>
							<strong>v&nbsp;1.2</strong>
						</h2>
						<dl>
							<dt>Android</dt>
							<dd>
								<span></span>支持全景视频播放
							</dd>
							<dd>
								<span></span>支持全景声播放
							</dd>
						</dl>
						<blockquote>
							<p class='downloadapp'>
								<a href="http://www.twirlingvr.com/App_Web/site/download.html?fi=3">下载<span></span></a>
							</p>
							<p>
								<strong>更新时间：2016-5-21</strong>
							</p>
						</blockquote>
					</div>
					<p class='shadow'></p>
				</li>
				<li class='ios'>
					<div>
						<h2>
							<span></span>
							<strong>v&nbsp;1.2</strong>
						</h2>
						<dl>
							<dt>ios</dt>
							<dd>
								<span></span>支持全景视频播放
							</dd>
							<dd>
								<span></span>支持全景声播放
							</dd>
						</dl>
						<blockquote>
							<p class='downloadapp'>
								<a href="https://appsto.re/cn/DE6oab.i">下载<span></span></a>
							</p>
							<p>
								<strong>更新时间：2016-5-21</strong>
							</p>
						</blockquote>
					</div>
					<p class='shadow'></p>
				</li>

			</ul>
		</div>
  </section>
<include file="Public/footer" />
