<include file="Public/header" />

<section id="mainBanner">
  <ul>
    <li class='technology'>
      <a href="#technology">
        <div class='icon'></div>
        <hgroup>
          <h1>VR技术合作</h1>
          <h2>VR全景视频播放器SDK,</br>VR全景声SDK,VR直播SDK</h2>
        </hgroup>
      </a>
    </li>
    <li class='hardware'>
      <a href="#hardware">
        <div class='icon'></div>
        <hgroup>
          <h1>VR硬件</h1>
          <h2>360度声场录制机,全景拍摄设备</h2>
        </hgroup>
      </a>
    </li>
    <li class='friend'>
      <a href="#friend">
        <div class='icon'></div>
        <hgroup>
          <h1>VR内容合作</h1>
          <h2>VR作品拍摄和后期,VR全景</br>声录音和制作，VR直播</h2>
        </hgroup>
      </a>
    </li>
    <li class='plan'>
      <a href="#plan">
        <div class='icon'></div>
        <hgroup>
          <h1>VR合伙人计划</h1>
          <h2>VR+直通车,快速VR化您的业务</h2>
        </hgroup>
      </a>
    </li>
  </ul>
  <img src="http://static.twirlingvr.com/yun/website/images/banner.jpg" alt="拓灵云">
</section>
<section class="inc indexSection" >

  <aside class="description">
    <h1><a name='technology' id='technology'>VR技术合作</a></h1>
    <h3>VR全景视频播放器SDK,VR全景声SDK和制作软件,VR直播SDK</h3>
    <div class="words">
      提供VR全景视频播放器，VR全景声和VR直播开发包SDK。全面兼容iOS，Android，U3D和PC应用平台以及H5浏览器。助力您的APP应用和H5网站一站式VR化。
    </div>
    <div class='enquire'><a href="{:U('home/index/about')}">我要咨询</a></div>
  </aside>
  <div class="banner">
    <img src="http://static.twirlingvr.com/yun/website/images/simple2.jpg" alt="拓灵云">
  </div>
</section>
<section class="indexSectionb" >
  <p class='top'></p>
  <div class='inc'>
    <aside class="description">
      <h1><a name='hardware' id='hardware'>VR硬件</a></h1>
      <h3>360度声场录制机，全景拍摄设备</h3>
      <div class="words">
        提供全套硬件支持，包括全景视频拍摄设备，全景声录音设备，设备的安装调试，设备的操作培训，设备的租赁和售后服务，为您一站式开启虚拟现实内容制作提供快速通道。
      </div>
      <div class='enquire'><a href="{:U('home/index/about')}">我要咨询</a></div>
    </aside>
    <div class="banner">
      <img src="http://static.twirlingvr.com/yun/website/images/bannerHardware.png" alt="拓灵云">
    </div>
  </div>
  <p class='bottom'></p>
</section>
<section class="inc indexSection" >
  <aside class="description">
    <h1><a name='friend' id='friend'>VR内容合作</a></h1>
    <h3>VR作品拍摄和后期，VR全景声录音和制作，VR直播</h3>
    <div class="words">
    提供VR策划，拍摄，录音，后期制作和直播服务。拓灵小伙伴们具有以下各类实战拍摄，录音和创作经验：微电影、大型户外音乐节、室内大型演唱会、室内体育现场、房产、汽车、航拍、MTV、婚庆、产品发布会、展馆、新闻现场等。
    <!--
    <P>
      <a href="javascript:;">如需以上服务请联系我们。</a>
    </P>
  -->
    </div>
    <div class='enquire'><a href="{:U('home/index/about')}">我要咨询</a></div>
  </aside>
  <div class="banner">
    <img src="http://static.twirlingvr.com/yun/website/images/bannerTechnology.png" alt="拓灵云">
  </div>
</section>
<section class="indexSectionb" >
  <p class='top'></p>
  <div class='inc'>
    <aside class="description">
      <h1><a name='plan' id='plan'>VR合伙人计划</a></h1>
      <h3>VR+直通车，快速VR化您的业务</h3>
      <div class="words">
时代拓灵作为专业VR软件硬件服务商，帮助城市合伙人定制标准化的VR解决方案，在当地开拓VR市场，提供增值服务，包括房产，酒店，旅游，展会展览，产品发布等等。您与客户直接产生红利关系,时代拓灵只作为幕后技术支持。
      </div>
      <div class='enquire'><a href="{:U('home/index/about')}">我要咨询</a></div>
    </aside>
    <div class="banner">
      <img src="http://static.twirlingvr.com/yun/website/images/bannerPartner.png" alt="拓灵云">
    </div>
  </div>
  <p class='bottom'></p>
</section>

<div id='guide0'>
  <a href='#' class="closeGuide"></a>
  <a href='#' class="nextSure"></a>
  <img src="http://static.twirlingvr.com/yun/website/images/guide.png">
</div>
<div id='guide1'>
  <a href='#' class="closeGuide"></a>
  <a href='#' class="nextSure"></a>
  <img src="http://static.twirlingvr.com/yun/website/images/guide.png">
</div>

<div class='demoVideo'><img src='http://static.twirlingvr.com/yun/website/temp/demo2.jpg'></div>
<?php echo $ishelp;?>
<include file="Public/footer" />
