<include file="Public/header" />

<div class="subpageBody">
    <div class="inc">
        <h1 class="pageName">找回密码</h1>
        <form id="form1" name="form1" action="{:U('home/do/lostpwd')}" method="post">
        <aside class="pageAside">
            <article class="form">
                <hr class="pageHr">
                <div class="formParam">
                    <h2>手机号码</h2>
                    <p>
                        <input id="mobile" name="mobile" type="text"  class="userInput" />
                    </p>
                </div>
                <div class="formParam checkNum">
                    <h2>验证码</h2>
                    <p>
                        <input id="code" name="code" type="text" placeholder='输入4位验证码'  class="userInput" /><button id="send_code" type="button">获取验证码</button>
                    </p>
                </div>
                <div class="formParam">
                    <h2>新密码</h2>
                    <p>
                        <input name="user_pwd" type="password" placeholder='输入6～12位密码'  class="userInput" />
                    </p>
                </div>
                <div class="formParam">
                    <button type="button" class="loginBtn">提 交</button>
                </div>
                <div class="formParam error">
                    <strong>×</strong><span>帐号密码错误</span>
                </div>
            </article>
        </aside>
        </form>
    </div>
</div>

<include file="Public/footer" />

<script>

    //表单提交
    $(".loginBtn").click(function(){
        $("#form1").submit();
    });

    //发送验证码
    $("#send_code").click(function(){
        var mobile = $("#mobile").val();
        if(!mobile){
            alert('手机号不能为空');
            return false;
        }
        $.post("{:U('home/do/sendcode')}", { mobile: mobile,key:1366},
                function(data){

                    if(data == 0){
                        alert('验证码发送成功');
                    }else{
                        alert('验证码发送失败');
                    }
                }, 'text');

    });
</script>