<include file="Public/header" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/Home/css/ui.css" />
<div class="content" id="paperContent">
    <h1><strong>《业务合作协议》</strong></h1>
    <h2>一、业务合作范围</h2>
    <p>本期合作业务范围为注册用户签约并注册成为时代拓灵云服务会员后，时代拓灵将负责提供给注册用户如下虚拟现实制作服务：</p>
    <ul>
    <li>1.	虚拟现实内容创作</li>

    <li>2.	虚拟现实内容采集</li>

    <li>3.	虚拟现实内容后期处理</li>

    <li>4.	产品验收和交付计划
        <ul>
            <li>
                1)	合作期间，双方应本着制作行业精品为共同目标，在创作、拍摄和后期制作应尽最大可能达成高品质的产品。
            </li>
            <li>
                2)	时代拓灵预计每部作品后期加工平均在10天左右，具体时长需要根据注册用户需求确定。时代拓灵将组织人员在双方协商确认的时间内完成采集和制作过程，并提供最终制作的虚拟现实成品给注册用户。
            </li>
        </ul>
    </li>
    </ul>

    <h2>二、双方责任</h2>
    <ul>
        <li>1.	双方不得以任何方式、任何借口直接或间接损害对方权益，或使己方自身、或第三方获得利益。包括但不仅限于：品牌、商誉、收入、资费政策、运营安全、业务秩序、业务流程、技术规范、服务规范、服务质量、固定资产、商业秘密 (机密)、业务及注册用户信息以及对方其它产品或服务利益。</li>
        <li>2.	合作开始前，注册用户将提前10工作日以书面或电子方式确认最终产品的需求、拍摄采集的具体时间和地点安排以供时代拓灵开展准备工作、相应人员和行程安排。时代拓灵将在收到注册用户拍摄具体信息后按时完成拍摄采集和后期制作。</li>
        <li>3.	合作期间，如果注册用户需要时代拓灵进行素材采集和拍摄，则注册用户将尽最大可能协调资源配合时代拓灵进行实地拍摄采集工作。</li>
        <li>4.	合作期间，时代拓灵应积极配合注册用户需求制作符合注册用户要求的全景音视频作品，若在合作过程中出现时代拓灵作品与注册用户事先提出的需求存在出入的地方，时代拓灵应按照注册用户要求进行整改。如果中途注册用户需要修改对最终产品的需求，注册用户需事先通过书面或电子邮件方式通知时代拓灵对后续产品进行调整，时代拓灵须积极配合并尽最大可能满足注册用户需求。如果注册用户提出的改动较大造成时代拓灵制作成本大幅增加，则注册用户需适当提供相应补偿资金给时代拓灵，以确保项目可以顺利进行。</li>
        <li>5.	合作期间，如果因为注册用户原因（如：无法提前10工作日提供拍摄的具体安排给时代拓灵）造成拍摄延误的，将由注册用户承担相应责任。具体情况双方须经过友好协商共同解决。</li>
        <li>6.	如果注册用户在其软件或虚拟现实产品中使用时代拓灵技术，则注册用户须在其产品介绍说明（含网页、字幕等及其他形式）中明确位置声明时代拓灵参与制作和包含时代拓灵的商标logo。</li>
        <li>7.	注册用户在今后的产品生产上，应优先考虑采用时代拓灵技术，以期共同开发具有国内领先的视频、音频功能的虚拟现实软、硬件及内容产品。</li>

    </ul>
    <h2>三、知识产权</h2>
    <ul>
        <li>1.	注册用户、时代拓灵双方应本着互相尊重、互为合作，保护对方利益为前提的原则进行合作，对包括但不限于任何专利权、专有技术、版权、商标权以及商业秘密等所产生的任何侵权和赔偿，双方应在充分协商的基础上，协调解决。协商解决不成的按照本协议提起诉讼。</li>
        <li>2.	注册用户保证其在履行本合同义务过程中不违反国家法律法规、公共道德及侵犯任何第三方权益（包括但不限于专利、著作权、商标等知识产权及相关权利）。如果因前述原因而发生纠纷，注册用户应当就相关指控或索赔为时代拓灵提供辩护，注册用户应承担由此产生的一切法律责任，包括罚款、诉讼或律师费用、和解费用，并支付终局判决或仲裁裁决由时代拓灵承担的损害赔偿费用。</li>
        <li>3.	时代拓灵为注册用户提供的核心知识产权和技术归时代拓灵所有,时代拓灵授权注册用户拥有该产品的使用权利。</li>
        <li>4.	双方约定，因履行本合同所形成的技术成果及其相关权益（包括但不限于所有权、专利权、著作权、商标等知识产权及其他权益）自创作之日起归属于双方共有。未经双方共同书面共同许可，任何一方不得将该技术成果以任何形式向任何第三方披露、提供，也不得擅自将其利用于与本项目无关的其他用途。</li>
        <li>5.	本条约定不因合同终止而失效，合同履行期满执行完毕后，本条对双方均有约束力。</li>
    </ul>

    <h1><strong>《保密协议》</strong></h1>
    <h2>1	商业秘密：是指依据中华人民共和国有关法律和国际条约的规定，属于一方和（或）其关联企业合法拥有并被该方视为秘密的技术、财务、商业或任何其他方面的信息。其不为公众所知悉，具有实用性，能带来经济效益，并且该秘密被其合法拥有者采取一定的措施予以保护。</h2>
    <ul>
        <li>1.1	知识产权：是指依据中华人民共和国有关法律和国际条约的规定，权利人所依法享有的专利权、版权（著作权）、商标权、商业信誉和商业秘密权等。</li>
        <li>1.2	披露方为披露保密信息的一方当事人；接收方为收到保密信息的一方当事人。</li>
        <li>1.3	保密的义务的适用范围：适用于接收方、接收方的子公司、母公司等公司关联机构，以及其雇员。</li>
    </ul>
    <h2>2	商业秘密的范围</h2>
    <ul>
        <li>2.1	注册用户、时代拓灵双方公司本身的有关情况 (包括但不仅限于公司组织结构、人员状况及背景资料、经营管理、服务资讯等情况) ；</li>
        <li>2.2	注册用户、时代拓灵双方公司提供的业务资料 (包括但不仅限于商业机密，专有技术，专利权，商业计划，市场信息，客户信息和其他有关技术，商业及财务等任何方面的资料)；</li>
        <li>2.3	与注册用户、时代拓灵双方公司有关的其他资料 (包括但不仅限于损害注册用户时代拓灵双方公司或有潜在可能对双方公司造成损害的资料等)；无论是载于书面的或是载于任何其他非书面介质上的或是口头上的，也无论是以供未来使用或是在目前合作中正在应用或是以往曾经使用的，都属于机密资料的范围。</li>
        <li>2.4	注册用户、时代拓灵双方基于合作产生的任何产品的制作方式、细节等，在未公开前，双方应严格保密。</li>
    </ul>
    <h2>3	注册用户、时代拓灵双方共同遵守的义务</h2>
    <ul>
        <li>3.1	注册用户、时代拓灵双方均应对所披露的资料采取保护措施，并如注册用户、时代拓灵双方惯常保护其自身同类性质的机密资料一样，至少不低于合理水平的关注程度使用所披露的机密资料，并防止其受到非授权的使用、传播和公布。</li>
        <li>3.2	未经授权许可，接收方不得擅自披露、使用或者允许除注册用户、时代拓灵双方以外的任何第三方披露、使用上述第2条中提及的，或者与第2条中内容相仿、相近或相类似的商业秘密，或在公开场合传播前述提及内容。</li>
        <li>3.3	接收方不应向任何雇员或第三方透露保密信息，除非是向那些依据本协议需要知道的并同意遵守本协议项下不披露条款的接收方雇员、母公司和控股的子公司透露本协议定义的保密信息，但是接收方同意对其中任何前述被告知方的违约承担责任。接收方不得将从披露方收悉的保密信息进行复制，除非是向其依据本协议需要知道的雇员、母公司和控股子公司提供复制。复制品应指明属于披露方所有并标明“保密”、“专有”或类似代号。</li>
        <li>3.4	根据所实施的法律要求接收方披露机密资料，接收方应给予披露方合理的、事先的、书面的通知。</li>
    </ul>
    <h2>4	免责条款</h2>
    <ul>
        <li>在本协议中，接收方对下述信息不承担保密义务：</li>
        <li>4.1	从不负有保密义务的第三方处合法获得的；</li>
        <li>4.2	披露方事先书面同意接收方可以披露；</li>
        <li>4.3	根据法律、法规、行政机关命令要求接收方披露的资料。</li>
    </ul>
    <h2>5	知识产权和所有权</h2>
    <ul>
        <li>5.1 披露方向接收方披露的保密信息的知识产权和所有权并不因披露、交付行为而发生任何变更。保密信息的所有权利和利益仍由披露方享有或持有，接收方并不因本协议的签署和履行而获得任何上述权益。</li>
        <li>5.2 披露方保证其有权依据本协议向接收方披露相关的保密信息，接收方对此不承担任何责任。</li>
    </ul>
    <h2>6	保密期限</h2>
    <ul>
        <li>6.1  自信息披露方向接收方披露保密信息之日起长期有效。</li>
    </ul>

</div>































<include file="Public/footer" />
