<include file="Public/header" />

<div class="subpageBody">
    <div class="inc">
        <h1 class="pageName">重置密码</h1>
        <hr class="pageHr">
        <aside class="pageAside">
            <article class="form">
                <div class="formParam">
                    <h2>密码</h2>
                    <p>
                        <input type="password" placeholder='输入6～12位密码'  class="userInput" />
                    </p>
                </div>
                <div class="formParam">
                    <h2>确认密码</h2>
                    <p>
                        <input type="password" placeholder='再次输入密码'  class="userInput" />
                    </p>
                </div>
                <div class="formParam">
                    <button type="button" class="loginBtn">提 交</button>
                </div>
                <div class="formParam error">
                    <strong>×</strong><span>帐号密码错误</span>
                </div>
            </article>
        </aside>
    </div>
</div>

<include file="Public/footer" />