<include file="Public/header" />

<div class="subpageBody">
    <div class="inc">
        <h1 class="pageName">修改信息</h1>
        <form id="form1" name="form1" action="{:U('home/userdo/usereditdo')}" method="post">
            <aside class="pageAside">
                <hr class="pageHr">

                    <article class="form">
                    <div class="formParam">
                        <h2>email</h2>
                        <p>
                            <input id="email" name="email" type="text" value="{$userinfo.email}"  class="userInput" />
                        </p>
                    </div>

                    <div class="formParam">
                        <button type="button" class="loginBtn">提交</button>
                    </div>

                </article>

            </aside>
        </form>
    </div>
</div>

<include file="Public/footer" />



<script>

    //表单提交
    $(".loginBtn").click(function(){
        $("#form1").submit();
    });

</script>
