
<extend name="Public/base" />
<block name="body"> <include file="Public:left" />


<link rel="stylesheet" type="text/css" href="//g.alicdn.com/de/prismplayer/1.3.3/skins/default/index-min.css" />
<script type="text/javascript" src="//g.alicdn.com/de/prismplayer/1.3.3/prism-min.js"></script>


<form action="__ROOT__/Admin/Order/doAdd" method="post" id="myfm">

	<div id="main">
		<div class="mainInc">
			<div class="mainIncA">
				<div class="mainIncB">
					<div class="pageInfo">
						<h1>
						
						标题:{$video.video_title}</br>
						描述:{$video.video_desc}
						
						</h1>
						<p id="getBack">
							<button>
								<span></span>返回
							</button>
						</p>
					</div>

					<div class="msgContent">
						<div class="tools">
							<button type="button" class="lister priceIn">
								<span class="newBuild">&nbsp;</span>定价
							</button>
							<button type="button" class="lister" onClick="doDel()">
								<span class="delete">&nbsp;</span>删除
							</button>

						</div>
						<div class="listTable">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										
										<td width='20%'>标题</td>
										<td width='65%'>描述</td>
										<td width='65%'>文件类型</td>
										<if condition="$video.status != 1 "><td width='65%'>定价</td></if>
										<td width='10%'>操作</td>

									</tr>
								</thead>
								<tbody>
								
								<foreach name="list" item="videos">
									<tr>
										<td>{$videos.video_title}</td>
										<td>
											{$videos.video_desc}
										</td>
										<td>
											<if condition="$videos.video_type == 1"> 视频</if>
											<if condition="$videos.video_type == 2"> 音频</if>
										</td>
										<if condition="$video.status != 1 ">
											<td >{$order.order_money}</td>
										</if>
										
										<td><a href="{$videos.aliyun_url}"
											class="tbuttoner"> 下载(右键另存下载) </a> 
											<input name="operate" type="button" class="buttoner playBtn" video_src="{$videos.aliyun_url}" value="播放"></td>
									</tr>
							</foreach>
									
									
								</tbody>
							</table>
						</div>
						<div class="tools">
							<!-- <p class="pageMark">
								<a href="#" class="goHead">首页</a> <a href="#" class="prev">&lt;</a>
								<a href="#" class="pagers">1</a> <a href="#" class="pagers">2</a>
								<a href="#" class="pagers">3</a> <a href="#" class="pagers">4</a>
								<a href="#" class="next">&gt;</a> <a href="#" class="goEnd">尾页</a>
							</p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div id="videoPlayer" class="hidding dialogEditor" lang="视频播放">
		<video id="video_play" src='' controls="controls" width="750" height="360"></video>
	</div>
	<div id="price" class="hidding dialogEditor" lang="定价">
		<div class="searchDetail">
			<dl>
				<dt>价格</dt>
				<dd>
					<input type="text" class="texter" name="money" id="money" value="{$order.order_money}">
				</dd>
			</dl>
			<div class="searchBtn">
				<input type="hidden" name="uid" id="uid" value="{$uuid}" />
				<input type="button" value="生成订单" onclick="submit('{$uuid}');">
			</div>
		</div>
		</div>
</form>



<script type="text/javascript">
  $(function (){
    $('.playBtn').on('click',function (){
    	var src = $(this).attr("video_src");
    	$("#video_play").attr("src",src);
      //打开窗口
      var model = $("#videoPlayer");
      var dialog = art.dialog({
        title: model.attr("lang"),
        content:model[0],
        icon: 'succeed',
        lock:true,
        button: [{
          name: '关闭'
        }]
      });

    })

		$('.priceIn').on('click',function (){
      //打开窗口
      var model = $("#price");
      var dialog = art.dialog({
        title: model.attr("lang"),
        content:model[0],
        icon: 'succeed',
        lock:true,
        button: [{
          name: '关闭'
        }]
      });

    })
  })
  
  
function submit(){
	var str = $("#money").val();
	var uid = $("#uid").val();
	  if(!isNaN(str)){
			//document.getElementById("myfm").submit();
			$.ajax({
				type: "POST",
				url: "__ROOT__/Admin/Order/doAdd",
				async: false,
				data: {money:str, uid:uid},
				  dataType: "json",
				  success:function (data){
					  if(data.success){
						  alert(data.msg);
						  var url = "__ROOT__/Admin/Video/index";
						  window.location.href=url; 
					  }else{
						  alert(data.msg);
						  var url = "__ROOT__/Admin/Video/index";
						  window.location.href=url; 
					  }
				  }
			});
	  }else{
			alert("价格必须为数字")
	  }
}
  
function doDel(){
	var uid = $("#uid").val();
	$.ajax({
		type: "GET",
		url: "__ROOT__/Admin/Video/dodel",
		async: false,
		data: {uuid:uid},
		  dataType: "json",
		  success:function (data){
			  if(data.success){
				  alert(data.msg);
				  var url = "__ROOT__/Admin/Video/index";
				  window.location.href=url; 
			  }else{
				  alert(data.msg);
				  var url = "__ROOT__/Admin/Video/index";
				  window.location.href=url; 
			  }
		  }
	});
}
  
  
  
</script>



</block>
