<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/uploadify/bootstrap.min.css">
	<style>
		video{
			width:340px;
			height:230px;
		}
	</style>
	<title>demo</title>
</head>
<body style="margin:30px">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-ms-4">
				<h4>客厅</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/living_room.mp4">	
				</video>
			</div>
			<div class="col-md-4">
				<h4>主卧书房</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/house_study.mp4"></video>
			</div>
			<div class="col-md-4">
				<h4>浴室</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/bathroom.mp4"></video>
			</div>
		</div>
		<div class="row">
				
			<div class="col-md-4">
				<h4>厨房</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/kitchen.mp4"></video>
			</div>
			<div class="col-md-4">
				<h4>主卧窗外</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/room_window.mp4"></video>
			</div>
			<div class="col-md-4">
				<h4>主观客厅</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/zhuguan_room.mp4"></video>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>阳台</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/yangtai.mp4"></video>
			</div>
			<div class="col-md-4">
				<h4>客卧书房</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/gust_study.mp4"></video>
			</div>
			<div class="col-md-4">
				<h4>客卧洗手间</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/gust_toilet.mp4"></video>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>主卧室</h4>
				<video controls="controls" src="__PUBLIC__/Home/demos/bedroom.mp4"></video>
			</div>
		</div>

<!-- <script src="/test/js/jquery.min.js"></script>
<script src="/test/js/bootstrap.min.js"></script> -->
</body>	
</html>