<include file="Public/header" />
<div class="userPageTitle">
    <div class="inc">
        <div class="userMsg">
            <p class="person">
                全景声Demo
            </p>
        </div>
    </div>
    <div class="pageTitleBg"></div>
</div>
<div class="userPageContent detailPage">
    <div class="inc">
      <section class='audioList'>
        <h2>全景声Demo</h2>
        <article>
          <figure>
            <p>
              <img src="__PUBLIC__/Home/images/sample1.png"/>
            </p>
          </figure>
        </article>
      </section>
      <section class='audioList second'>
        <h2>Technology Overview</h2>
        <div class="content">
            TwirlingVR全景声引擎为您提供高标准的耳机三维全景声解决方案。利用独有的全景声场模拟算法，将环境声（ambiance）和虚拟声源（object audio）精确的还原在三维空间里。声源的位置，方向，距离以及运动轨迹等都能够通过耳机被清晰和准确的感知。特有的声场空间变换算法，确保多声源复杂场景能高效准确的呈现。特别适合对运算复杂度有较高要求的mobile应用。支持头部旋转和移动下的声场重建。 真正的跨平台引擎，可以灵活的用于android， ios，windows，Mac OS 以及unity平台。
        </div>
      </section>
      <section class='audioList second'>
        <h2>拓灵全景音乐</h2>
        <article>
          <figure>
              <p>
                <img src="__PUBLIC__/Home/images/sample1.png"/>
              </p>
              <audio controls="controls">
                <source src="__PUBLIC__/videos/lover.mp3" type="audio/mpeg">
              Your browser does not support the audio tag.
              </audio>
              <figcaption>Stop mess with me</figcaption>
          </figure>
          <figure>
              <p>
                <img src="__PUBLIC__/Home/images/sample2.png"/>
              </p>
              <audio controls="controls">
                <source src="__PUBLIC__/videos/lover.mp3" type="audio/mpeg">
              Your browser does not support the audio tag.
              </audio>
              <figcaption>Stop mess with me</figcaption>
          </figure>
          <figure>
              <p>
                <img src="__PUBLIC__/Home/images/sample3.png"/>
              </p>
              <audio controls="controls">
                <source src="__PUBLIC__/videos/lover.mp3" type="audio/mpeg">
              Your browser does not support the audio tag.
              </audio>
              <figcaption>Stop mess with me</figcaption>
          </figure>
        </article>
      </section>
      <section class='audioList second'>
        <h2>拓灵全景声漫游</h2>
        <article>
          <figure>
              <p>
                <img src="__PUBLIC__/Home/images/sample2.png"/>
              </p>
          </figure>
          <figure>
              <p>
                <img src="__PUBLIC__/Home/images/sample3.png"/>
              </p>
          </figure>
        </article>
      </section>
    </div>
</div>

<include file="Public/footer" />
